
@media(max-width:1200px ){

.custom-iframe{
  width: 14rem;
  height: 10rem;
  border-radius: 1rem;

 }

}

@media (min-width: 990px) {
    .navbar-brand {
      padding-left: 40px;
    
    }
    
    .nav-btn-contact{
       padding-right: 40px;
    }
    
    
    .btn-home-packages{
        font-size: x-large;
      }
    
    }
    
    @media (max-width: 989px) {
    .hero h1 {
        font-size: 2rem;
        line-height: 1.8rem;
        text-align: justify center;
        padding-left: 2rem;
        padding-right: 2rem;
        
        
      }
    .hero h4 {
        font-size: 1rem;
        text-align: justify center;
        padding-left: 2rem;
        padding-right: 2rem;
        
      }
      .navbar-brand {
      padding-left: 20px;
    
    }
    .home-section{
      height: 85vh;
    
    }
  
    
    .packagesSection{
      height: 60vh;
    }
      .card-img-custom{

      height:25rem;
      border-radius: 1rem;
    }

 
    .img-text-over-h3 {
      font-size: 18px;
      font-weight: bold;
    }
    .img-text-over-h5 {
      margin-top: 20px;
      font-size: 15px;
      font-weight:300;
      margin-bottom: 20px;
      padding-left: 1rem;
      padding-right: 1rem;
    }

   
   
    
    }
    @media(max-width: 768px){
      .custom-iframe{
        width: 15rem;
        height: 11rem;
        border-radius: 1rem;
      
       }
       .home-section{
        height: 80vh;
      
      }
      .packagesSection{
        height: 60vh;
        margin-bottom: 0;
      }
      .about-us-content{
        padding-left: 1rem;
      }
      
    
      
    }
